@import url("./Header.css");
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;700&display=swap');
@import url('./Banner.css');
@import url('./carrocel.css');
@import url('./topicos.css');
@import url('./rodape.css');



:root{
    --cor-fundo: #EBECEE;
    --branco: #f8f8f8;
    --laranja:#EB9B00;
     --azul: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
     --fonte-principal: "Poppins"
     --fonte-secundaria: 'jesifins sans'
    }

    body{
    background-color: var(--cor-fundo);
    font-family: var(--fonte-principal);
    font-size: 1rem;
    font-weight: 400;
}
 

